export APP_LISTEN_PORT=9090
export APP_SECRET_KEY=f2f4d44e40a9a834cea4908b77151c08
export DB_HOST=localhost
export DB_USER=payments
export DB_PASS=84d5eaf713c96eecb3d2c4a83e64dc9a
export DB_NAME=payments
export DB_PORT=5432
export DB_MAX_CONNECTIONS=10